<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Salvando patitas</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .organization-header {
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 20px;
            text-align: center;
        }
        .organization-content {
            margin-bottom: 20px;
            text-align: center;
        }
        .organization-logo {
            max-width: 150px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
{% extends 'salvando_patas/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="organization-header">Nuestra Organización</h1>
        <div class="row justify-content-center">
            {% for objeto in objetos %}
                <div class="col-md-6 organization-content">
                    <h2>{{ objeto.name }}</h2>
                    <p><strong>Misión:</strong> {{ objeto.mission }}</p>
                    <p><strong>Visión:</strong> {{ objeto.vision }}</p>
                    <p><strong>Email de contacto:</strong> {{ objeto.contact_email }}</p>
                    <p><strong>Teléfono de contacto:</strong> {{ objeto.contact_phone }}</p>
                    {% if objeto.logo %}
                        <img class="organization-logo" src="{{ objeto.logo.url }}" alt="{{ objeto.name }} Logo">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
<!-- Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
