<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Salvando patitas</title>
</head>
<body>
{% extends 'salvando_patas/base.html' %}
{% block content %}
    <ul>
    {% for objeto in objetos %}
        <li>{{ objeto.title }}</li>
        <li>{{ objeto.description }}</li>
        {% if objeto.link %}
        <li><a href="{{ objeto.link }}">{{ objeto.link }}</a></li>
        {% endif %}
        {% if objeto.file %}
        <li><a href="{{ objeto.file.url }}">Descargar archivo</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock content %}
</body>
</html>
